################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/LogView
/MYC.Browser
/MYC.Browser.Launcher
/MYC.Control
/MYC.Launcher
/MYC.Setup
/MYC.System
/MYC.UI.Account/bin/Debug
/MYC.UI.Account/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MYC.UI.Account/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MYC.UI.Account/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MYC.UI.Admin/bin/Debug
/MYC.UI.Admin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MYC.UI.Admin/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MYC.UI.Admin/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MYC.UI.DTO/bin/Debug/netstandard2.0
/MYC.UI.DTO/obj/Debug/netstandard2.0
/MYC.UI.DTO/obj
/MYC.UI.Machine/bin
/MYC.UI.Machine/obj/Debug/TempPE
/MYC.UI.Member/bin/Debug
/MYC.UI.Personal/bin/Debug
/MYC.UI.Personal/obj/Debug/TempPE
/MYC.UI.Project/bin/Debug
/MYC.UI.Report/bin/Debug
/Tester
/WindowsFormsApp1
